# .NET
bin/
obj/
*.dll
*.exe
*.pdb
*.user
*.cache

# Rider
.idea/
*.sln.iml

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Publish
publish/
